<div class="main">
    <h1>user show apps</h1>
    <img src="../../assets/imgs/main.avif" alt="main image">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda tempora eveniet repellat eos, temporibus animi eum quas dolores non, veritatis molestias, eius dolorum? Sunt voluptas, numquam necessitatibus eius expedita ex placeat ratione eligendi voluptatum laudantium magnam harum omnis. Fugit quod deleniti possimus dolore omnis maxime nisi tempora blanditiis debitis ex.</p>
    <button (click)="onShow()">Continue</button>
</div>