/* You can add global styles to this file, and also import other style files */
:root {
    --main: red;
    --secondary: rgb(61, 58, 58);
}

* {
    object-fit: cover;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
}